@model ZadanieRekrutacyjne.Models.Tree

@{
    ViewBag.Title = "Usuń element";
}
@ViewBag.Name
<h2>Usuń element razem z elementami, które są poniżej niego w hierarchii</h2>

<h3 style="color:red;">@ViewBag.Warning</h3>
<h3>Czy na pewno chcesz usunąć ten wierzchołek i wszystkie powiązane z nim gałęzie?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Nazwa rodzica: ")
        </dt>

        <dd>
            @ViewBag.Rodzic
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Usuń" class="btn btn-default" />
        </div>
        <div>
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
