@model ZadanieRekrutacyjne.Models.Tree

@{
    ViewBag.Title = "Usuń element";
}

<h2>Usuń wierzchołek, a jego dzieci przesuń wyżej w hierarchii</h2>

<h3>Czy na pewno chcesz usunąć ten element?</h3>
<div>
    <h4>Tree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Nazwa rodzica:")
        </dt>

        <dd>
            @ViewBag.Rodzic
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Usuń" class="btn btn-default" /> 

        </div>

        <div>
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
